<div class="container">

  <div class="story">
  <a href="ReadingPolish/a1-co-lubie-robic">
  <div class="card col-12">
    <div class="card-img-wrapper d-flex">
      <img src="./assets/Phome.jpeg">
      <div class="card-body">
        <div class="title">
      <h3>A2 Co lubię robić</h3>
      <p>Marta opowiada o swoich ulubionych zajęciach</p>
    </div>
    <div class="fp">
      <span>FREE</span>
    </div>
      </div>
    </div>
  </div>
</a>
</div>

<div class="story">
  <a href="ReadingPolish/a1-co-lubie-robic">
  <div class="card col-12">
    <div class="card-img-wrapper d-flex">
      <img src="./assets/drogadoszkoly.jpeg">
      <div class="card-body">
        <div class="title">
      <h3>Droga do szkoły</h3>
      <p>Marta mówi o jej drodze do szkoły</p>
    </div>
    <div class="fp">
      <span>FREE</span>
    </div>
      </div>
    </div>
  </div>
</a>
</div>

<div class="story">
  <a href="ReadingPolish/a1-co-lubie-robic">
  <div class="card col-12">
    <div class="card-img-wrapper d-flex">
      <img src="./assets/spacerzpsem.jpeg">
      <div class="card-body">
        <div class="title">
      <h3>Spacer z psem</h3>
      <p>Marta wyprowadza psa na spacer</p>
    </div>
    <div class="fp">
      <span>PREMIUM</span>
    </div>
      </div>
    </div>
  </div>
</a>
</div>


</div>

