<div class="container">

  <div class="story">
  <div class="card col-12" routerLink="./a1-co-lubie-robic">
    <div class="card-img-wrapper d-flex">
      <img src="https://res.cloudinary.com/dyyonpr5j/image/upload/v1681563272/Phome_hptbho.jpg">
      <div class="card-body">
        <div class="title">
      <h3>B2 Co lubię robić</h3>
      <p>Marta opowiada o swoich ulubionych zajęciach</p>
    </div>
    <div class="fp">
      <span>FREE</span>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="story">
  <div class="card col-12" routerLink="./a1-co-lubie-robic">
    <div class="card-img-wrapper d-flex">
      <img src="https://res.cloudinary.com/dyyonpr5j/image/upload/v1681563271/drogadoszkoly_ify3wp.jpg">
      <div class="card-body">
        <div class="title">
      <h3>Droga do szkoły</h3>
      <p>Marta mówi o jej drodze do szkoły</p>
    </div>
    <div class="fp">
      <span>FREE</span>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="story">
  <div class="card col-12" routerLink="./a1-co-lubie-robic">
    <div class="card-img-wrapper d-flex">
      <img src="https://res.cloudinary.com/dyyonpr5j/image/upload/v1681563270/spacerzpsem_ejdq2o.jpg">
      <div class="card-body">
        <div class="title">
      <h3>Spacer z psem</h3>
      <p>Marta wyprowadza psa na spacer</p>
    </div>
    <div class="fp">
      <span>PREMIUM</span>
    </div>
      </div>
    </div>
  </div>
</div>


</div>

