<header class="col-12 g-header-container">
  <div class="g-header">
    <button routerLink="/ReadingPolish" class="btn btn-danger" style="font-weight: 700;">Home page</button>
    <div class="g-pdf">
      <img src="https://res.cloudinary.com/dyyonpr5j/image/upload/v1681570220/pdf-file-svgrepo-com_qrtdnk.svg">
      <a href="./ReadingPolish/assets/test.pdf" download="A1-Co-Lubię-Robić">
        <button class="btn btn-link g-pdf-btn">Download PDF</button>
        <button class="btn btn-link g-pdf-btn-sm">PDF</button>
        </a>
    </div>
  </div>
</header>

<!---------------------CONTENT----------------------------->

<main>
  <section class="tab-wrap">
    <tabset class="content-tabs">
      <tab heading="Polish">
        <h3>Co lubię robić</h3>
        <p class="col-10 mt-3 story-content">Chciałbym powiedzieć, jakie są moje hobby. Moim największym hobby jest malarstwo. Maluję wszystko wokół: przyrodę, zwierzęta, domy na ulicach.
          <br><br>
          Lubię też robić rzeczy z papieru i składać origami. Moja przyjaciółka Bětka i ja gramy w teatr. To moje drugie wielkie hobby. Od trzech lat chodzę do klubu teatralnego w każdy piątek.
          <br><br>
          Chociaż nie jestem uzdolniony sportowo, moim drugim hobby jest pływanie. Potrafię dość szybko pływać i lubię też nurkować. Najlepsze nurkowanie jest w morzu, gdzie można obserwować podwodne życie.
          <br><br>
          Bardzo lubię też jeździć na rowerze. Nie jeżdżę szybko, ale potrafię długo. Więc moim hobby jest jazda na rowerze.
          Umiem grać na pianinie i trochę na gitarze. Bardzo lubię muzykę i taniec, to także moje wielkie hobby!
</p>
      </tab>

      <tab heading="Polish/English">
        <h3>Co lubię robić | What I like to do</h3>
        <div class="col-10 mt-3 story-content">

          <p class="pol">Chciałbym powiedzieć, jakie są moje hobby. Moim największym hobby jest malarstwo.</p>

          <p class="eng"><i>I would like to tell you what my hobbies are. My greatest hobby is painting.</i></p>

          <p class="pol">Maluję wszystko wokół: przyrodę, zwierzęta, domy na ulicach. Lubię też robić rzeczy z papieru i składać origami.</p>

          <p class="eng"><i>I paint everything around: nature, animals, houses in the streets. I also like making things out of paper and folding origami.</i></p>

          <p class="pol">Moja przyjaciółka Bětka i ja gramy w teatr. To moje drugie wielkie hobby. Od trzech lat chodzę do klubu teatralnego w każdy piątek.</p>

          <p class="eng"><i>My friend Bětka and I play theater. This is my second big hobby. I've been going to the drama club every Friday for three years.</i></p>

          <p class="pol">Chociaż nie jestem uzdolniony sportowo, moim drugim hobby jest pływanie. Potrafię dość szybko pływać i lubię też nurkować.</p>

          <p class="eng"><i>Although I am not athletically gifted, my second hobby is swimming. I can swim quite fast and I also like to dive.</i></p>

          <p class="pol">Najlepsze nurkowanie jest w morzu, gdzie można obserwować podwodne życie.</p>

          <p class="eng"><i>The best diving is in the sea where you can observe underwater life.</i></p>

          <p class="pol">Bardzo lubię też jeździć na rowerze. Nie jeżdżę szybko, ale potrafię długo. Więc moim hobby jest jazda na rowerze.</p>

          <p class="eng"><i>I also really like cycling. I can't go fast, but I can go long. So my hobby is cycling.</i></p>

          <p class="pol">Umiem grać na pianinie i trochę na gitarze. Bardzo lubię muzykę i taniec, to także moje wielkie hobby!</p>

          <p class="eng"><i>I can play the piano and a little guitar. I really like music and dancing, it's also my great hobby!</i></p>

        </div>
      </tab>

      <tab heading="Vocabulary">
        <h3>Słownictwo</h3>
      </tab>
    </tabset>
  </section>

  <!---------------Exercises-------------------->

  <section class="exercises-wrap">
    <tabset class="exercises-tabs">
      <tab heading="Exercise 1">
        <h5>Please answer the following questions of understanding</h5>

        <div class="question-wrapper">
          <div class="question">
            <span>Question 1:</span>
            <p>Jakie jest największe hobby Maćka?</p>
          </div>
          <div class="answers">
            <button  data-answer="correct" (click)="checkAnswer($event)">A. Malarstwo</button>
            <button data-answer="false" (click)="checkAnswer($event)">B. Koszykówka</button>
            <button data-answer="false" (click)="checkAnswer($event)">C. Pilka nożna</button>
            <button data-answer="false" (click)="checkAnswer($event)">D. Karate</button>
          </div>
        </div>

        <div class="question-wrapper">
          <div class="question">
            <span>Question 2:</span>
            <p>Kim jest Betka?</p>
          </div>
          <div class="answers">
            <button  data-answer="false" (click)="checkAnswer($event)">A. Mamą Maćka</button>
            <button data-answer="false" (click)="checkAnswer($event)">B. Siostrą Maćka mamy</button>
            <button data-answer="correct" (click)="checkAnswer($event)">C. Przyjaciółką Maćka</button>
            <button data-answer="false" (click)="checkAnswer($event)">D. Kuzynką Maćka</button>
          </div>
        </div>

      </tab>
    </tabset>
  </section>

</main>
