

<div class="intro">
<h1>Learn Polish Through Stories</h1>
<img src="https://res.cloudinary.com/dyyonpr5j/image/upload/v1681563272/Phome_hptbho.jpg">
</div>


<div class="tab-wrap">
  <tabset class="level-tabs">
    <tab heading="Level A1">
      <app-a1stories></app-a1stories>
    </tab>
    <tab heading="Level A2">
      <app-a2stories></app-a2stories>
    </tab>
    <tab heading="Level B1">
      <app-b1stories></app-b1stories>
    </tab>
    <tab heading="Level B2">
      <app-b2stories></app-b2stories>
    </tab>
  </tabset>
</div>
